body,h1, h1 a {font:300 45px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-decoration: none;

}
body, html {height: 100%}
.bg {
	background-color: #ee6e73;
		min-height: 100%;
		background-position: center;
		background-size: cover;
}


/*begin dumb code */
.navigation input#search {
	min-height: 50px;
	width: 500px;
	height: 75%;
	background: #fcfcfc;
	border: none;
	font-size: 10pt;
	float: left;
	color: #63717f;
	padding-left: 20px;
	padding-right: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-style: solid;
	border-color:#f9f9f9;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: box-shadow 0.3s ease-in-out;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.navigation input#search:hover {
	-webkit-box-shadow: 0px 0px 14px 1px rgba(125,125,125,0.44);
	-moz-box-shadow: 0px 0px 14px 1px rgba(125,125,125,0.44);
	box-shadow: 0px 0px 14px 1px rgba(125,125,125,0.44);
}

.navigation input#search::-webkit-input-placeholder {
	color: #65737e;
}

.navigation  input#search:-moz-placeholder { /* Firefox 18- */
	color: #65737e;
}

.navigation  input#search::-moz-placeholder {  /* Firefox 19+ */
	color: #65737e;
}

.navigation  input#search:-ms-input-placeholder {
	color: #65737e;
}

input {
	font-size: 50%;
}

li button, #options {
	font-size: 50%;
}
